[submodule "src/ext/lecs"]
	path = src/ext/lecs
	url = https://github.com/MarkSkyzoid/lecs.git
[submodule "src/ext/imgui_sdl"]
	path = src/ext/imgui_sdl
	url = https://github.com/Tyyppi77/imgui_sdl.git
[submodule "src/ext/imgui"]
	path = src/ext/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "src/ext/loguru"]
	path = src/ext/loguru
	url = https://github.com/emilk/loguru.git
[submodule "src/ext/IconFontCppHeaders"]
	path = src/ext/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
[submodule "src/ext/imgui_software_renderer"]
	path = src/ext/imgui_software_renderer
	url = https://github.com/emilk/imgui_software_renderer.git
[submodule "src/ext/rapidjson"]
	path = src/ext/rapidjson
	url = https://github.com/Tencent/rapidjson.git
